.App {
    background-color: rgb(238, 236, 236);
}

:any-link:hover {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 3rem;
    background-color: rgb(19, 63, 80);
    position: fixed !important;
    top: 0;
    box-shadow: 1px 2px 1px rgb(148, 148, 148);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30%;
    color: white;
    text-align: center;
}

.nav-items {
    width: 30%;
}

.nav-list {
    color: white;
    display: flex;
    height: 3rem;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    list-style: none;
    padding: 0 30px;
    color: white;
}

.nav-list li:hover {
    text-decoration: none;
    text-decoration: none;
    list-style: none;
}

.empty-block {
    height: 4rem;
}

.feed-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.feed-home {
    width: 45%;
    margin: 0 10%;
    padding: 5px 20px;
}

.feed-body {
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    box-shadow: 1px 1px rgb(179, 179, 179);
}

.searchbar {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 4px 10px;
    width: 40%;
}

.feed-content {
    height: 100px
}

.company-section {
    position: fixed !important;
    right: 3%;
    width: 20%;
    height: 90%;
    overflow-y: auto;
}

<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
.company-section::-webkit-scrollbar {
    display: none;
}
=======
.company-section::-webkit-scrollbar {
    display: none;
}

.company-list-top-bar {
    position: sticky;
    top: 0;
    padding: 2px;
    background-color: rgb(238, 236, 236);
    margin-bottom: 10px;
}

.company-search {
    background-color: white;
    padding: 2px;
    margin: 3px;
    border-radius: 30px;
}

.company-list-searchbox {
    width: 100%;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
}

.company-list-item {
    width: 100%;
    padding: 10px;
    padding-left: 2%;
    margin: auto !important;
    margin-bottom: 5px;
}

.company-list-item:hover {
    background-color: rgba(168, 168, 168, 0.196);
    border-radius: 10px;
}

.company-tool-tip {
    width: 300px;
}

.company-list-item-logo {
    background-color: rgb(0, 255, 200);
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.company-list-item-name {
    font-weight: 600;
}
>>>>>>> Stashed changes

.company-list-top-bar {
    position: sticky;
    top: 0;
    padding: 2px;
    background-color: rgb(238, 236, 236);
    margin-bottom: 10px;
}

.company-search {
    background-color: white;
    padding: 2px;
    margin: 3px;
    border-radius: 30px;
}

.company-list-searchbox {
    width: 100%;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
}

.company-list-item {
    width: 100%;
    padding: 10px;
    padding-left: 2%;
    margin: auto !important;
    margin-bottom: 5px;
}

.company-list-item:hover {
    background-color: rgba(168, 168, 168, 0.196);
    border-radius: 10px;
}

.company-tool-tip {
    width: 300px;
}

.company-list-item-logo {
    background-color: rgb(0, 255, 200);
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.company-list-item-name {
    font-weight: 600;
}

>>>>>>> Stashed changes
.category-section {
    position: fixed !important;
    left: 3%;
    border: 1px solid black;
    width: 20%;
    height: 90%;
    overflow-y: auto;
<<<<<<< Updated upstream
=======
}

.category-section::-webkit-scrollbar {
    display: none;
}

<<<<<<< Updated upstream
.profile {
    width: 55%;
>>>>>>> Stashed changes
=======
.category-section::-webkit-scrollbar {
    display: none;
}

.profile {
    width: 55%;
>>>>>>> Stashed changes
}